.venv
.vscode
.pdm-python
__pycache__
.ruff_cache
.mypy_cache
data/raw/**/*.txt
data/raw/*.parq
*.parquet
data/processed/*.csv
data/processed/*.parq
*.log
*.pptx
.DS_Store
*.egg-info
*reference.json
notebooks/tests/*
.python-version
checklist.md
*.toml
src/wa_analyzer/*
data/cleaned/*
reports/.pdf
img/figure1.png
reports/project_whatsapp_visualisatie.pdf
sentence_transformers/*
notebooks/.ipynb_checkpoints/*
data/raw/*
data/raw/whatsapp-20241030-143002.csv
reports/project_whatsapp_visualisatie_FPaulin_1882135.pdf
