.venv
.vscode
.pdm-python
__pycache__
.ruff_cache
.mypy_cache
data/raw/**/*.txt
data/raw/*.parq
*.parquet
data/processed/*.csv
data/processed/*.parq
*.log
*.pptx
.DS_Store
*.egg-info
*reference.json
notebooks/tests/*
.python-version
checklist.md
*.toml
src/wa_analyzer/*


notebooks/.ipynb_checkpoints/*
